.first-screen {
  background-image: url(../../images/first-screen.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #FCFAF7;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

@media screen and (max-width: 850px) {
  .first-screen {
    background-image: url(../../images/first-screen-mobile.svg);
  }
}

@media screen and (max-width: 488px) {
  .first-screen {
    height: calc(100vh - 68px);
  }
}
