.footer__link {
  display: flex;
  margin: 0 0 24px 0;
}

.footer__link:nth-child(3) {
  margin-bottom: 0;
}

@media screen and (max-width: 360px) {
  .footer__link {
    justify-content: space-between;
  }
}
