.dots-scroll__dot{
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #96949E;
  padding: 0;
  margin: 0;
  white-space: normal;
  text-transform: none;
  unicode-bidi: isolate;
  font-variant-numeric: normal;
}

.dots-scroll__dot:hover{
  opacity: .5;
}

.dots-scroll__dot:nth-child(even){
  margin: 0 12px;
}
