.dots-scroll{
  display: none;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 360px){
  .dots-scroll{
    display: flex;
  }
}
